@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Work+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: #FFE7D5;
}

nav{
	background-color: #D1675F;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	text-align: center;
}

#img-icones{
	width: 45px;
	height: 45px;
	padding: 10px;
}


#icone-rodape{
	width: 90px;
	height: 90px;
	padding: 20px;
	margin-left: 60px;
	margin-right: 90px;
}


.container-menu-icones{
	display: flex;
	margin-left: 10px;
}

.menu-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.container-menu-text{
	font-family: 'Work Sans', cursive;
	font-size: 0.7em;
	text-align: right;
	margin-right: 30px;
	word-spacing: 10px;
}
a {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover, a:active {
    color: #CCCCCC;
}

p {
    color: #000000;
    text-align: justify;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.rodape {
    padding: 20px;
    background-color: #D1675F;
    display: flex;
    justify-content: space-between;
}

#menu-rodape {
    margin-left: 15%;
    line-height: 60px;
}

.mapa {
    margin-right: 20%;
    margin-top: 35px;
}

.container-icones {
    margin-top: 60px;
}

footer {
    padding: 20px;
    background-color: #474a51;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #FDD0D0;
    font-size: 1.2em;
}

.pag-acompanhamento{
    padding: 40px;
    font-family: "Work Sans", sans-serif;
}

.icone-aba{
    text-align: center;
    padding: 0px;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

img{
    width: 8%;
}

main{
    width: 100%;
    max-width: 600px;
    background-color: #FFF6F0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

article{
    width: 100%;
    max-width: 600px;
    background-color: #FFCECA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.consulta-contato{
    width: 100%;
    max-width: 600px;
    background-color: #FFCECA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: "Work Sans", sans-serif;
    margin-top: 30px;

}

.form-group {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo (o botão) à direita */
    margin-top: 30px; /* Adiciona a margem superior ao contêiner */
}

.form-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F9BFBB;
    color: #0c0c0c;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #D1675F;
}