@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: #FFEFD4;
}

/* Menu de navegação */
nav {
    background-color: #8D6A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: relative;
    width: 100%;
}

.container-menu-icones {
    display: flex;
    gap: 20px;
}

#img-icones {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

#img-icones:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 30;
}

.linha {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.container-menu-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.menu {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

.menu:hover {
    color: #FFDD94;
    transform: translateY(-2px);
}

.menu:visited {
    color: #FFFFFF;
}

.menu:active {
    color: #FFDD94;
}

a {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .container-menu-text {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: flex;
    }

    .container-menu-text {
        position: fixed;
        top: 0;
        right: 0;
        width: 85%;
        height: 100vh;
        background-color: #8D6A5D;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        z-index: 20;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        padding-left: 20px;
        border-radius: 20px;
    }

    .container-menu-text.active {
        transform: translateX(0);
    }

    .menu {
        font-size: 1.5em;
        margin: 20px 0;
        padding: 10px 20px;
        width: auto;
        text-align: left; 
        border-radius: 10px;
        transition: background-color 0.3s;
    }

    .menu:hover {
        background-color: rgba(255, 221, 148, 0.2);
    }
}

/* Banner da página*/
#img-header{
	width: 100%;
	height: 100%;
    border-radius: 0 0 100px 100px;
}

h1{
	font-family: "Work Sans", sans-serif;
    text-align: center; 
    padding-left: 20px;
    font-size: 1.5em;
    color: #00AC47; 
    margin-bottom: 20px;
}

p{
	color: #000000;
	text-align: justify;
	font: 1em "Work Sans", sans-serif;
	line-height: 1.5em;
	font-size: 1em;
}

/* Descrição da clínica*/
.descricao h1 {
    text-align: left; 
    border-left: 5px solid #00AC47; 
    padding-left: 20px; 
    font-size: 1.8em; 
    font-family: "Work Sans", sans-serif;
    color: #333; 
    margin-bottom: 20px; 
}

.descricao {
    padding: 40px 20px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao-texto {
    margin-right: 20px;
    max-width: 600px;
}

.descricao-imagem {
    position: relative;
    display: inline-block;
}

.descricao-imagem img {
    max-width: 100%;
    border-radius: 100px;
    display: block;
}

.descricao-imagem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, rgba(244, 225, 193, 1), rgba(244, 225, 193, 0)) no-repeat;
    pointer-events: none;
}

/*Responsatividade descrição*/
@media screen and (max-width: 1024px) {
    .descricao {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .descricao {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .descricao-texto {
        text-align: center;
        margin-right: 0;
        max-width: 100%;
    }

    .descricao h1 {
        text-align: left;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .descricao {
        padding: 20px;
    }

    .descricao-imagem {
        display: none;
    }
}





/* Botão topo*/
#topo{
	position: fixed;
	right: 30px;
	bottom: 32px;
}

#bt-topo{
	width: 60px;
	height: 60px;
}

/*Equipe*/
main{
	background-color: #F2CC8F;
	padding: 30px;
}

.container{
	display: flex;
	justify-content: center;
}

.card{
	width: 200px;
    background-color: #8D6A5D;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Adiciona a transição suave */
}

.card:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card em 10% */
}

.img-card{
	width: 150px;
	height: 200px;
	border-radius: 20px;
}

.text-card h3{
	font: 1.2em "Work Sans", sans-serif;
	margin: 8px 8px;
	color: #F8F8F8;
	font-weight: 600;
}

.text-card p{
	font: 0.8em "Work Sans", sans-serif;
	color: #F8F8F8;
	text-align: center;
}

/* Espaço */
#pag-espaco {
    text-align: center;
    padding: 40px;
}

.container-mural {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    position: relative;
}

/* Grid de imagens para desktop */
.grid-imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.grid-imagens img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}


/* Carrossel para mobile */
.carousel {
    display: none;  /* O carrossel começa escondido */
    overflow: hidden;
    max-width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;  /* Garantir que o carrossel apareça acima de outros elementos */
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ajustando a largura para 100% da tela */
}

.carousel img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Botões do carrossel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* Garantir que os botões fiquem sobre as imagens */
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

/* Esconder grid no mobile e mostrar carrossel */
@media screen and (max-width: 768px) {
    .grid-imagens {
        display: none;  /* Esconde a grid de imagens */
    }

    .carousel {
        display: block;  /* Exibe o carrossel */
        width: 100%;     /* Garante que o carrossel ocupe toda a largura da tela */
    }
}

/*Contato*/
#contato{
    background-image: url(img/banner-contato.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;

    display: flex;
    justify-content: flex-end; /* empurra o conteúdo para a direita */
}
  
    

#titulo-contato{
    text-align: left; 
    font-size: 1.6em; 
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF; 
    margin-bottom: 20px;
    font-weight: bold;

}

#contato p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-right: 200px;


}

#contato-direita{
    max-width: 450px;   /* para não ficar muito largo */
    text-align: right;  /* alinha todo o texto à direita */
}

.container-contato{
transition: transform 0.3s ease-in-out;
      display: flex;
  /* Outras propriedades, como alinhamento vertical */
  align-items: center; /* Alinha verticalmente ao centro */
  
}

#lado-contato{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FFF;
    transition: transform 0.3s ease-in-out; /* animação aqui */
    cursor: pointer;
}

#lado-contato:hover{
    transform: scale(1.05); /* ícone + texto crescem juntos */

}

#icone-contato{
	  width: 30px;
    height: 30px;
    margin-left: 10px;

}

#icone-contato:hover {
    transform: scale(1.05); /* ícone + texto crescem juntos */
}


/*Podcast*/
#pag-podcast {
    margin: 50px auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
	background: linear-gradient(#ffebcc, #E07A5F);
}

#img-spot {
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#img-po{
	text-align: right;
	margin-right:40px;
}

#h1-mod2 {
    font: 1.8em "Work Sans", sans-serif;
    line-height: 1.6;
    color: #333; /* Cor do título */
	margin-top: 28px;
    text-align: left; 
}

#texto-pod {
    font-size: 1em;
    line-height: 1.6em;
    color: #333; /* Cor do texto */
	width: 450px;
}

#img-pod {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-align: right;
}

#img-pod:hover {
    transform: scale(1.05);
}

iframe {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(238, 234, 234, 0.644);
}

/*Depoimentos*/
#pag-depoimentos {
	padding: 30px;
  }

/*Rodapé*/
.rodape {
    padding: 20px;
    background-color: #8D6A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*teste*/

#menu-rodape{
	margin-left: 15%;
	line-height: 60px;
}

#menu-rodape a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;
    font-family: 'Work Sans', sans-serif;
}

.mapa{
	margin-right: 20%;
	margin-top: 35px;
}

#icone-rodape{
	width: 90px;
	height: 90px;
	padding: 20px;
	margin-left: 60px;
	margin-right: 90px;
    transition: transform 0.3s ease-in-out;

}

#icone-rodape:hover {
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
}

.container-icones{
	margin-top: 60px;
    gap: 15px;

}

.container-icones a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/*Rodapé*/
footer {
    padding: 20px;
    background-color: #33363D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1.1em;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-text {
    font-size: 0.7em;
    color: #A5A58D;
}

.footer-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.footer-icons a {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/*Responsividade mobile*/