@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Work+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: #FFE7D5;
}

nav{
	background-color: #D1675F;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	text-align: center;
}

#img-icones{
	width: 45px;
	height: 45px;
	padding: 10px;
}


#icone-rodape{
	width: 90px;
	height: 90px;
	padding: 20px;
	margin-left: 60px;
	margin-right: 90px;
}


.container-menu-icones{
	display: flex;
	margin-left: 10px;
}

.menu-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.container-menu-text{
	font-family: 'Work Sans', cursive;
	font-size: 0.7em;
	text-align: right;
	margin-right: 30px;
	word-spacing: 10px;
}
a {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover, a:active {
    color: #CCCCCC;
}

p {
    color: #000000;
    text-align: justify;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-family: "Meow Script", cursive;
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #AE4E4E;
}

.rodape {
    padding: 20px;
    background-color: #D1675F;
    display: flex;
    justify-content: space-between;
}

#menu-rodape {
    margin-left: 15%;
    line-height: 60px;
}

.mapa {
    margin-right: 20%;
    margin-top: 35px;
}

.container-icones {
    margin-top: 60px;
}

footer {
    padding: 20px;
    background-color: #474a51;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #FDD0D0;
    font-size: 1.2em;
}

.pagina-formulario {
    padding: 30px;
    font-family: "Work Sans", sans-serif;

}

.titulo-agendamento {
    text-align: center;
}

.container-article{
    width: 100%;
    max-width: 600px;
    background-color: #FFCECA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #FFF6F0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: "Work Sans", sans-serif;

}


.section {
    margin-bottom: 15px; /* Espaço entre seções */
}

.section h2 {
    margin-top: 60px;
}



h2{
    background-color: #F9BFBB;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Work Sans", cursive;
    text-align: center;
    font-size: 1.2em;
}

.form-group1 {
    width: 100%;
    max-width: 600px;
    background-color: #FFF6F0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

}

.form-group1 {
    align-items: center; /* Alinha verticalmente a caixa de seleção e o texto */
}

.form-group1 input[type="checkbox"] {
    margin-right: 10px; /* Espaçamento entre a caixa de seleção e o texto */
}

.form-group1 label {
    margin: 0; /* Remove a margem padrão do label */
    font-size: 0.9em; /* Ajuste o tamanho da fonte, se necessário */
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    margin-right: 2px;
}

.form-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F9BFBB;
    color: #0c0c0c;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #D1675F;
}


legend{
    margin-bottom: 10px;
}

.form-group label {
    display: inline-flex; /* Exibe o texto ao lado da caixa de seleção */
    align-items: center;  /* Alinha verticalmente a caixa de seleção e o texto */
    margin-right: 20px;   /* Espaçamento entre os grupos de rádio */
}

.lado{
    display: flex; /* Exibe o texto ao lado da caixa de seleção */
    align-items: center;  /* Alinha verticalmente a caixa de seleção e o texto */
    margin-right: 20px;   /* Espaçamento entre os grupos de rádio */
}
