@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Work+Sans:wght@300;600&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

html{
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}

body{
	background-color: #FAE8DA;
	justify-content: right;
}

nav{
	background-color: #D1675F;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	text-align: center;
}

.container-menu-icones{
	display: flex;
	margin-left: 10px;
}

#img-icones{
	width: 45px;
	height: 45px;
	padding: 10px;
}

.container-menu-text{
	font-family: 'Work Sans', cursive;
	font-size: 0.7em;
	text-align: right;
	margin-right: 30px;
	word-spacing: 10px;
}

a{
	font: 1.3em "Work Sans", sans-serif;
	text-decoration: none;
}

.menu{
	color: #FFFFFF;
}

.a-menu link, .a-menu visited {
	color: #FFFFFF;
}
.a-menu hover, .a-menu:active{
	color: #CCCCCC;
}

header{
	background-color: #FAE8DA;
}

#img-header{
	width: 100%;
	height: 100%;
}


h1{
	font-family: "Meow Script", cursive;
	font-size: 1.8em;
	margin-bottom: 10px;
}

article h1{
	color: #AE4E4E;
}

p{
	color: #000000;
	text-align: justify;
	font: 1em "Work Sans", sans-serif;
	line-height: 1.5em;
}

article{
	padding: 50px;
	margin-left: 140px;
	margin-right: 140px;
}

.container-descricao{
	display: flex;
	align-items: center;
	justify-content: center;
}

#descricao-img{
	margin-top: 10px;
	margin-bottom: 90px;
	margin-left: 150px;
}

#mask2{
	width: 100%;
	height: 100%;
}

.mask{
	width: 0;
	height:0;
	position: absolute;
}

.img-ppagina{
	width: 440.51px;
	height: 319.97px;
	clip-path: url(#svg-mask1);
}

ul{
	list-style: url(img/redcircle.png);
}

li{
	font: 1em "Work Sans", sans-serif;
	line-height: 2em;
}

#bt-agend{
	position: fixed;
	right: 30px;
	bottom: 100px;
	cursor: pointer;
	animation: pulse 1s infinite;
}

#bt-agend:hover::before {
	content: "Agendamentos";
	position: absolute;
	left: -130px;
	top: 50%;
	background-color: #f8f8f8;
	font-family: 'Work Sans', cursive;
	font-weight: 600;
	color: #0a0a0a;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	transform: translateY(-50%);
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }

  #bt-agend:hover::before {
	opacity: 1;
  }

@keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
}
#agend{
	width: 64px;
	height: 64px;
}

#topo{
	position: fixed;
	right: 30px;
	bottom: 32px;
}

#bt-topo{
	width: 60px;
	height: 60px;
}

/*PÁGINA EQUIPE*/

main{
	background-color: #fcc59e;
	padding: 70px;
}

main h1{
	margin-left: 30px;
}

.container{
	display: flex;
	justify-content: center;
}

.card{
	width: 200px;
	background-color: #D1675F;
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.img-card{
	width: 150px;
	height: 200px;
	border-radius: 20px;
}

.text-card h3{
	font: 1.2em "Work Sans", sans-serif;
	margin: 8px 8px;
	color: #F8F8F8;
	font-weight: 600;
}

.text-card p{
	font: 0.8em "Work Sans", sans-serif;
	color: #F8F8F8;
	text-align: center;
}

/*PÁGINA ESPAÇO*/

#pag-espaco{
	padding: 50px;
	display: grid;
	grid-template-areas:
		"container-1 container-1"
		"container-2 container-2";
}

#titulo-esp{
	justify-content: center;
	text-align:center;
}

.titulo-esp{
	text-align: center;
}

.container-1{
	grid-area: container-1;
}

#cont-esp{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.container-2{
	grid-area: container-2;
	display: flex;
	justify-content: center;
}

#img-esp{
	background-color: #F5C5AE;
	width: 200px;
	height: 250px;
	border-radius: 20px;
	margin: 30px;
	border: 10%;
	border-color: #F5C5AE;
	border: 2.5px solid #F5C5AE;
}

#texto{
	max-width: 300px;
	text-align: center;
	margin-top: 110px;
	margin-left: 40px;
	font-size: 1.em;
}

/*PÁGINA DEPOIMENTOS*/

#pag-depoimentos {
	background-color: #F8BB8F;
	padding: 50px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 30px;
  }

  .container-3 {
	padding: 30px;
	max-width: 1500px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #FBA669;
	border-radius: 20px;
	overflow: hidden; /* Adicionado overflow para esconder a parte extra do carrossel */
  }

  .gallery {
	display: flex;
	gap: 20px;
	transition: transform 0.5s ease-in-out;
  }

  .item {
	width: 400px;
	height: 150px;
	border-radius: 15px;
  }

#pag-podcast{
	margin-right: 100px;
	margin-left: 100px;
	padding: 80px;
	display: grid;
	grid-template-columns:  1fr 1fr;
	grid-template-areas: " lp img "
                         " lp img"
}

#ttl-pod{
	top: 0px;
	left: 0px;
	display: flex;
}

 #img-spot{
 	width: 75px;
 	height: 75px;
}

#h1-mod2{
	font: 1.5em "Work Sans";
	line-height: 40px;
}

#h2-mod1{
	font-family: "Work Sans";
	position: relative;
	top: -15px;
}

#left-pagina{
	grid-area: lp;
}

#h2-mod2{
	color: #AE4E4E;
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: "Work Sans";
	text-shadow: #CCCCCC 0.1em 0.1em 0.1em;
}

#img-po{
    margin-left: 90px;
    margin-top: 100px;
}

#img-pod{
	width: 473.28px;
    height: 390.02px;
    border-radius: 20px;
}

.rodape{
	padding: 20px;
	background-color: #D1675F;
	display: flex;
	justify-content: space-between;
}

#menu-rodape{
	margin-left: 15%;
	line-height: 60px;
}

.mapa{
	margin-right: 20%;
	margin-top: 35px;
}


#icone-rodape{
	width: 90px;
	height: 90px;
	padding: 20px;
	margin-left: 60px;
	margin-right: 90px;
}

.container-icones{
	margin-top: 60px;
}

footer{
	padding: 20px;
	background-color: #474a51;
	align-items: center;
	text-align: center;
	font-family: "Work sans", sans-serif;
	color: #FDD0D0;
	font-size: 1.2em;
}

@media screen and (max-width: 390px) {
	body {
	  font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
	}
  
	nav {
		flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
		align-items: flex-start; /* Alinha os itens à esquerda */
	  }
	
	  .container-menu-icones {
		margin-left: 0; /* Remove a margem à esquerda */
		margin-bottom: 10px; /* Adiciona espaço entre os ícones e o texto */
	  }
	
	  .container-menu-text {
		margin: 0; /* Remove a margem direita */
	  }
	
	  .menu {
		display: block; /* Garante que cada item de menu ocupe uma linha inteira */
		padding: 10px; /* Adiciona um espaçamento interno aos itens de menu */
	  }
	
	  #img-icones {
		margin-right: auto; /* Empurra os ícones para a esquerda para alinhá-los corretamente */
	  }
	}
	header {
	  margin-left: 0;
	  margin-right: 0;
	}
  
	article {
	  padding: 20px;
	  margin-left: 10px;
	  margin-right: 10px;
	}
  
	.container-descricao {
	  flex-direction: column;
	  align-items: center;
	}
  
	#descricao-img {
	  margin-top: 10px;
	  margin-bottom: 20px;
	  margin-left: 0;
	}
  
	.img-ppagina {
	  width: 100%;
	  height: auto;
	  clip-path: none;
	}
  
	#bt-agend {
	  right: 10px;
	  bottom: 60px;
	}
  
	#topo {
	  right: 10px;
	  bottom: 12px;
	}
  
	main {
	  padding: 30px;
	}
  
	.card {
	  width: 100%;
	}
  
	#pag-espaco {
	  padding: 30px;
	}
  
	#cont-esp {
	  flex-direction: column;
	}
  
	.container-2 {
	  flex-direction: column;
	  align-items: center;
	}
  
	#img-esp {
	  width: 100%;
	  height: auto;
	  margin: 10px 0;
	}
  
	#texto {
	  margin-top: 20px;
	  margin-left: 0;
	}
  
	#pag-depoimentos {
	  padding: 30px;
	}
  
	.gallery {
	  flex-direction: column;
	}
  
	.item {
	  width: 100%;
	  height: auto;
	  margin-bottom: 20px;
	}
  
	#pag-podcast {
	  margin-right: 10px;
	  margin-left: 10px;
	  padding: 40px;
	  grid-template-areas:
		"lp"
		"img";
	}
  
	#ttl-pod {
	  flex-direction: column;
	  align-items: center;
	}
  
	#img-spot {
	  width: 50px;
	  height: 50px;
	}
  
	#left-pagina {
	  margin-bottom: 20px;
	}
  
	#img-pod {
	  width: 100%;
	  height: auto;
	  margin-left: 0;
	  margin-top: 20px;
	}
  
	.rodape {
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	#menu-rodape {
	  margin-left: 0;
	}
  
	.icone-rodape {
	  margin-left: 0;
	  margin-right: 0;
	}
  
	.container-icones {
	  margin-top: 20px;
	}
  
	footer {
	  font-size: 1em;
	}
  }
  