@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Work+Sans:wght@300;600&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;}

body {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.container {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-radius: 8px;
   

.ilustracao {
    flex: auto;
    width: 70%;
    
}

.ilustracao > img {
    flex: 0;
    position: relative;
    left:0px;
    top: 60%;
    height: 290px;
    width: 420px;
    
   
}

.login-form {
    flex: auto;
    width: 30%;
    background-color: #f9c1b1;
    border-radius: 0 8px 8px 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo>img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    top: -90px;
}

form {
    position: relative;
    top: -60px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 0;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px #b1b1b1d6;
}
}

.lembrar {
    display: flex;
    
    margin-bottom: 20px;
}

.lembrar >input {
    margin-right: 8px;
}

.lembrar > a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

button {
    width: 150px;
    padding: 10px;
    background-color: #e97c6c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 30%;
    bottom: -90px;
}

button:hover {
    background-color: #e35c50;
}
